<table markdown='1' class='software_table'>
  <tr class="software_header">
    <td align="center" colspan="2">Scala Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/avsl/">AVSL: <em>A Very Simple Logger</em>
</a>
    </td>
    <td class="software_desc"><a href="http://slf4j.org/">SLF4J</a>-compliant logger API that aims for simplicity.
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/classutil/">ClassUtil
</a>
    </td>
    <td class="software_desc">A fast class-finder library, with extras
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-scala/">Grizzled Scala
</a>
    </td>
    <td class="software_desc">A general-purpose Scala utility library
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-slf4j/">Grizzled SLF4J
</a>
    </td>
    <td class="software_desc">A Scala wrapper for the <a href="http://slf4j.org/">Simple Logging Facade for Java (SLF4J)</a>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/markwrap/">MarkWrap
</a>
    </td>
    <td class="software_desc">A unified Scala API for various lightweight markup languages, including Markdown and Textile
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/sbt-editsource/">SBT EditSource plugin
</a>
    </td>
    <td class="software_desc">A poor man’s <em>sed</em> for <a href="https://github.com/harrah/xsbt">SBT</a> 0.10.x
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/sbt-izpack/">SBT IzPack plugin
</a>
    </td>
    <td class="software_desc">SBT 0.10.x IzPack plugin
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/sbt-lwm/">SBT lightweight markup plugin
</a>
    </td>
    <td class="software_desc">An <a href="https://github.com/harrah/xsbt">SBT</a> 0.10.x plugin that converts Markdown and Textile documents to HTML
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/sbt-plugins/">SBT 0.7 Plugins
</a>
    </td>
    <td class="software_desc">Various plugins for <a href="https://github.com/harrah/xsbt">SBT</a> 0.7.x
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/scalasti/">Scalasti
</a>
    </td>
    <td class="software_desc">A Scala interface to the <a href="http://stringtemplate.org/">StringTemplate</a> library
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/sqlshell/">SQLShell
</a>
    </td>
    <td class="software_desc">A cross-platform, cross-database SQL shell
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Java Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/curn/"><em>curn</em>
</a>
    </td>
    <td class="software_desc">The <em>curn</em> RSS reader
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/javaeditline/">Java EditLine
</a>
    </td>
    <td class="software_desc">A Java (JNI) interface to the BSD Editline command editing and history library
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/javautil/"><em>org.clapper.util</em> Library
</a>
    </td>
    <td class="software_desc">A general-purpose Java utility library
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/jedit-emacs/">jEdit Emacs macros
</a>
    </td>
    <td class="software_desc">Emacs emulation macros for the jEdit editor
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Python Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/digest/">digest
</a>
    </td>
    <td class="software_desc">Calculate message digests from the command line
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/fortune/">fortune
</a>
    </td>
    <td class="software_desc">Python version of the classic <em>fortune</em> program
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-python/">Grizzled Python
</a>
    </td>
    <td class="software_desc">The Grizzled Python Utility Library
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/munkres/">munkres
</a>
    </td>
    <td class="software_desc">A Python implementation of the Munkres algorithm (also called the <a href="http://en.wikipedia.org/wiki/Hungarian_algorithm/">Hungarian algorithm</a> or the Kuhn-Munkres algorithm)
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/paragrep/">paragrep
</a>
    </td>
    <td class="software_desc">A paragraph <em>grep</em> utility
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/picoblog/">picoblog
</a>
    </td>
    <td class="software_desc">Sample blogging software for Google App Engine
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/pyutmp/">pyutmp
</a>
    </td>
    <td class="software_desc">A Python interface to the Unix <em>utmp</em> file
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://github.com/bmc/retain/">retain
</a>
    </td>
    <td class="software_desc">Remove all files in a directory, except those specified
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://github.com/bmc/sqlcmd/">sqlcmd
</a>
    </td>
    <td class="software_desc">A cross-platform, cross-database SQL command line tool. (Superseded by SQLShell.)
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Ruby Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/dbusnotify/">dbusnotify
</a>
    </td>
    <td class="software_desc">Command line tool to send notifications to DBUS
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grinc/">grinc
</a>
    </td>
    <td class="software_desc">A simple include-file preprocessor command
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-rails-logger/">Grizzled Rails Logger
</a>
    </td>
    <td class="software_desc">Useful extensions to the stock Rails 3 logger.
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-ruby/">Grizzled Ruby
</a>
    </td>
    <td class="software_desc">The Grizzled Ruby Utility Library
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Go Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="https://github.com/bmc/fortune-go">fortune
</a>
    </td>
    <td class="software_desc">A version of fortune written in Go
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">C Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/daemonize/">daemonize
</a>
    </td>
    <td class="software_desc">Run commands as Unix daemons
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/poll/"><em>poll</em>(2) emulator
</a>
    </td>
    <td class="software_desc">Routine to emulate System V <em>poll</em>(2) function for BSD Unix systems
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Miscellaneous</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="https://github.com/bmc/pwguard">PWGuard: A password vault
</a>
    </td>
    <td class="software_desc">A web-based password vault, written using the Play Framework, Scala, and AngularJS
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="https://github.com/bmc/ebook-template">eBook builder
</a>
    </td>
    <td class="software_desc">A template for writing and building an eBook, written in Markdown.
</td>
  </tr>
</table>