<table markdown='1' class='software_table'>
  <tr class="software_header">
    <td align="center" colspan="2">Scala Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/argot/"><p>Argot, a command line parser</p>
</a>
    </td>
    <td class="software_desc"><p>A command-line parser for Scala</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/avsl/"><p>AVSL: <em>A Very Simple Logger</em></p>
</a>
    </td>
    <td class="software_desc"><p><a href="http://slf4j.org/">SLF4J</a>-compliant logger API that aims for simplicity.</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/classutil/"><p>ClassUtil</p>
</a>
    </td>
    <td class="software_desc"><p>A fast class-finder library, with extras</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-scala/"><p>Grizzled Scala</p>
</a>
    </td>
    <td class="software_desc"><p>A general-purpose Scala utility library</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-slf4j/"><p>Grizzled SLF4J</p>
</a>
    </td>
    <td class="software_desc"><p>A Scala wrapper for the <a href="http://slf4j.org/">Simple Logging Facade for Java (SLF4J)</a></p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/markwrap/"><p>MarkWrap</p>
</a>
    </td>
    <td class="software_desc"><p>A unified Scala API for various lightweight markup languages, including Markdown and Textile</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/sbt-editsource/"><p>SBT EditSource plugin</p>
</a>
    </td>
    <td class="software_desc"><p>A poor man’s <em>sed</em> for <a href="https://github.com/harrah/xsbt">SBT</a> 0.10.x</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/sbt-izpack/"><p>SBT IzPack plugin</p>
</a>
    </td>
    <td class="software_desc"><p>SBT 0.10.x IzPack plugin</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/sbt-lwm/"><p>SBT lightweight markup plugin</p>
</a>
    </td>
    <td class="software_desc"><p>An <a href="https://github.com/harrah/xsbt">SBT</a> 0.10.x plugin that converts Markdown and Textile documents to HTML</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/sbt-plugins/"><p>SBT 0.7 Plugins</p>
</a>
    </td>
    <td class="software_desc"><p>Various plugins for <a href="https://github.com/harrah/xsbt">SBT</a> 0.7.x</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/scalasti/"><p>Scalasti</p>
</a>
    </td>
    <td class="software_desc"><p>A Scala interface to the <a href="http://stringtemplate.org/">StringTemplate</a> library</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/sqlshell/"><p>SQLShell</p>
</a>
    </td>
    <td class="software_desc"><p>A cross-platform, cross-database SQL shell</p>
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Java Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/curn/"><p><em>curn</em></p>
</a>
    </td>
    <td class="software_desc"><p>The <em>curn</em> RSS reader</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/javaeditline/"><p>Java EditLine</p>
</a>
    </td>
    <td class="software_desc"><p>A Java (JNI) interface to the BSD Editline command editing and history library</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/javautil/"><p><em>org.clapper.util</em> Library</p>
</a>
    </td>
    <td class="software_desc"><p>A general-purpose Java utility library</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/jedit-emacs/"><p>jEdit Emacs macros</p>
</a>
    </td>
    <td class="software_desc"><p>Emacs emulation macros for the jEdit editor</p>
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Python Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/digest/"><p>digest</p>
</a>
    </td>
    <td class="software_desc"><p>Calculate message digests from the command line</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/fortune/"><p>fortune</p>
</a>
    </td>
    <td class="software_desc"><p>Python version of the classic <em>fortune</em> program</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-python/"><p>Grizzled Python</p>
</a>
    </td>
    <td class="software_desc"><p>The Grizzled Python Utility Library</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/munkres/"><p>munkres</p>
</a>
    </td>
    <td class="software_desc"><p>A Python implementation of the Munkres algorithm (also called the <a href="http://en.wikipedia.org/wiki/Hungarian_algorithm/">Hungarian algorithm</a> or the Kuhn-Munkres algorithm)</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/paragrep/"><p>paragrep</p>
</a>
    </td>
    <td class="software_desc"><p>A paragraph <em>grep</em> utility</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/picoblog/"><p>picoblog</p>
</a>
    </td>
    <td class="software_desc"><p>Sample blogging software for Google App Engine</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/pyutmp/"><p>pyutmp</p>
</a>
    </td>
    <td class="software_desc"><p>A Python interface to the Unix <em>utmp</em> file</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://github.com/bmc/retain/"><p>retain</p>
</a>
    </td>
    <td class="software_desc"><p>Remove all files in a directory, except those specified</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://github.com/bmc/sqlcmd/"><p>sqlcmd</p>
</a>
    </td>
    <td class="software_desc"><p>A cross-platform, cross-database SQL command line tool. (Superseded by SQLShell.)</p>
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Ruby Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/dbusnotify/"><p>dbusnotify</p>
</a>
    </td>
    <td class="software_desc"><p>Command line tool to send notifications to DBUS</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grinc/"><p>grinc</p>
</a>
    </td>
    <td class="software_desc"><p>A simple include-file preprocessor command</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-rails-logger/"><p>Grizzled Rails Logger</p>
</a>
    </td>
    <td class="software_desc"><p>Useful extensions to the stock Rails 3 logger.</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-ruby/"><p>Grizzled Ruby</p>
</a>
    </td>
    <td class="software_desc"><p>The Grizzled Ruby Utility Library</p>
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">C Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/daemonize/"><p>daemonize</p>
</a>
    </td>
    <td class="software_desc"><p>Run commands as Unix daemons</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/poll/"><p><em>poll</em>(2) emulator</p>
</a>
    </td>
    <td class="software_desc"><p>Routine to emulate System V <em>poll</em>(2) function for BSD Unix systems</p>
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Minecraft Plugins</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="minecraft-plugins.html"><p>Minecraft Plugins</p>
</a>
    </td>
    <td class="software_desc"><p>Miscellaneous Minecraft server plugins</p>
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Minecraft Plugins and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="https://github.com/bmc/mclib"><p>mclib</p>
</a>
    </td>
    <td class="software_desc"><p>Minecraft Scala utility library</p>
</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Miscellaneous</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/ST2EmacsMiscellanea"><p>Sublime Text 2 Emacs hacks</p>
</a>
    </td>
    <td class="software_desc"><p>Emacs-oriented keymaps, plugins, etc., for the Sublime Text 2 text editor</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="https://github.com/bmc/TextMate-hacks"><p>TextMate hacks</p>
</a>
    </td>
    <td class="software_desc"><p>Keymaps, themes, etc., for the TextMate text editor</p>
</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="/cheat-sheets/"><p>Cheat Sheets</p>
</a>
    </td>
    <td class="software_desc"><p>Various cheat sheets. Not exactly software, but useful, anyway. And, more to the point, here.</p>
</td>
  </tr>
</table>