<table markdown='1' class='software_table'>
  <tr class="software_header">
    <td align="center" colspan="2">Scala Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/argot/">Argot, a command line parser</a>
    </td>
    <td class="software_desc">A command-line parser for Scala</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/avsl/">AVSL: *A Very Simple Logger*</a>
    </td>
    <td class="software_desc">[SLF4J](http://slf4j.org/)-compliant logger API that aims for simplicity.</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/classutil/">ClassUtil</a>
    </td>
    <td class="software_desc">A fast class-finder library, with extras</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-scala/">Grizzled Scala</a>
    </td>
    <td class="software_desc">A general-purpose Scala utility library</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-slf4j/">Grizzled SLF4J</a>
    </td>
    <td class="software_desc">A Scala wrapper for the [Simple Logging Facade for Java (SLF4J)](http://slf4j.org/)</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/markwrap/">MarkWrap</a>
    </td>
    <td class="software_desc">A unified Scala API for various lightweight markup languages, including Markdown and Textile</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/sbt-plugins/">SBT Plugins</a>
    </td>
    <td class="software_desc">Various plugins for the [SBT](http://code.google.com/p/simple-build-tool) Scala build tool.</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/scalasti/">Scalasti</a>
    </td>
    <td class="software_desc">A Scala interface to the [StringTemplate](http://stringtemplate.org/) library</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/sqlshell/">SQLShell</a>
    </td>
    <td class="software_desc">A cross-platform, cross-database SQL shell</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Java Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/curn/">*curn*</a>
    </td>
    <td class="software_desc">The *curn* RSS reader</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/javaeditline/">Java EditLine</a>
    </td>
    <td class="software_desc">A Java (JNI) interface to the BSD Editline command editing and history library</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/javautil/">*org.clapper.util* Library</a>
    </td>
    <td class="software_desc">A general-purpose Java utility library</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/jedit-emacs/">jEdit Emacs macros</a>
    </td>
    <td class="software_desc">Emacs emulation macros for the jEdit editor</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Python Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/digest/">digest</a>
    </td>
    <td class="software_desc">Calculate message digests from the command line</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/fortune/">fortune</a>
    </td>
    <td class="software_desc">Python version of the classic *fortune* program</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-python/">Grizzled Python</a>
    </td>
    <td class="software_desc">The Grizzled Python Utility Library</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/munkres/">munkres</a>
    </td>
    <td class="software_desc">A Python implementation of the Munkres algorithm (also called the [Hungarian algorithm](http://en.wikipedia.org/wiki/Hungarian_algorithm/) or the Kuhn-Munkres algorithm)</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/paragrep/">paragrep</a>
    </td>
    <td class="software_desc">A paragraph *grep* utility</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/picoblog/">picoblog</a>
    </td>
    <td class="software_desc">Sample blogging software for Google App Engine</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/pyutmp/">pyutmp</a>
    </td>
    <td class="software_desc">A Python interface to the Unix *utmp* file</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://github.com/bmc/retain/">retain</a>
    </td>
    <td class="software_desc">Remove all files in a directory, except those specified</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://github.com/bmc/sqlcmd/">sqlcmd</a>
    </td>
    <td class="software_desc">A cross-platform, cross-database SQL command line tool. (Superseded by SQLShell.)</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://github.com/bmc/grizzled-wing/">Grizzled Wing IDE commands</a>
    </td>
    <td class="software_desc">Additional Emacs emulation commands for the Wing Python IDE</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">Ruby Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grinc/">grinc</a>
    </td>
    <td class="software_desc">A simple include-file preprocessor command</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/grizzled-ruby/">Grizzled Ruby</a>
    </td>
    <td class="software_desc">The Grizzled Ruby Utility Library</td>
  </tr>

  <tr class="software_header">
    <td align="center" colspan="2">C Tools and Libraries</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/daemonize/">daemonize</a>
    </td>
    <td class="software_desc">Run commands as Unix daemons</td>
  </tr>

  <tr class="software_entry">
    <td class="software_blurb">
      <a href="http://software.clapper.org/poll/">*poll*(2) emulator</a>
    </td>
    <td class="software_desc">Routine to emulate System V *poll*(2) function for BSD Unix systems</td>
  </tr>
</table>