body
{
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;

    border: 1px solid #999999;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px;

    background-color: white;

    font-family: Arial, Verdana, Helvetica, sans-serif;
    /* min-height: 95%; */
    /* height: 95%; */
    font-size: 11pt;
}

div#content
{
    /* min-height: 100%; */
    /* height: 100%; */
}

/* --- START table of contents styling. See toc.js */

div#toc
{
    width: auto;
    font-size: 9pt;
}

span#tocHeading
{
    background-color: #f0f0f0;
    width: auto;
    font-weight: bold;
    font-size: larger;
}

div#tocBlock
{
/*
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid #bbbbbb;
    border-top: 2px solid #bbbbbb;
*/
    border: 1px solid #999999;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px;

    margin-right: -4em;
    margin-left: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    width: 40%;
    float: right;
}

ul.toc
{
}

li.tocH1
{
    margin-left: 0em
}

li.tocH2
{ 
    margin-left: 1em
}

li.tocH3
{ 
    margin-left: 2em
}

li.tocH4
{ 
    margin-left: 3em
}

li.tocH5
{
    margin-left: 4em
}

li.tocH6
{
    margin-left: 5em
}

/* --- END table of contents styles */


span.subtitle
{
    font-size: 100%;
    font-weight: bold;
    font-style: italic, oblique;
}

table.container
{
    background-color: black;
    border: 0;
}

table.container tr td
{
    background-color: white;
}

td.corner
{
    background-color: black;
}

h1
{
    background-color: white;
    border: 1px solid black;
    padding-left: 0.125em;
    padding-left: 0.125em;
}

h2
{
    background-color: #aaaaaa;
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
}

h3
{
    background-color: #dddddd;
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
}

h4
{ 
    border: 1px solid #dddddd;
    padding-left: 1em;
    padding-right: 1em;
}

h5
{ 
    border: 1px solid #dddddd;
    font-style: italic;
    padding-left: 1em;
    padding-right: 1em;
}

h6
{ 
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
    padding-left: 1em;
    padding-right: 1em;
}

a
{
    text-decoration: none;
}

a:link
{
/*
    color: red;
*/
    color: #3333aa;
}

a:visited
{
    color: #770099;
}

a:hover
{
/*
    background-color: #eed2ee;
    color: #000000;
*/
    color: grey;
}

.fakelink { color: #ff0000; }


pre
{
    font-family: monospace, Courier, Courier New;

    border: 1px dashed #666;
    overflow: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;

    margin-left: 3em;
    padding: 10px;
    width: 85%;

    background-color:#edf6fc;
    border: 1px dashed #666;
}

.path
{
    font-family: monospace, Courier, Courier New;
}

.filename
{
    font-family: monospace, Courier, Courier New;
}

.warning
{
    font-family: sans-serif, Arial, Helvetica;

    margin-left: 15em;
    margin-right: 15em;

    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
    border-width: 3px;
    border-spacing: 5px;
    border-style: solid;
    border-color: red;
    border-collapse: collapse;

    background-color: #d9d9d9;
}

.box
{
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;

    border-width: 1px;
    border-spacing: 5px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}

div.site
{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding: 10px;
}

div.header
{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

span.title
{
    font-size: 16pt;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

table.banner
{
    border-bottom: 1px solid #999999;
    width: 100%;
}

table.banner td.banner-image
{
    padding-left: 0;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

table.banner td.banner-title
{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24pt;
}

div.linktabs
{
    float: right;
    background-color: white;
}

.linktabs
{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.linktab
{
    background-color: #aaaaaa;
    color: white;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 0;
    margin: 0;
    text-align: center;
    width: auto;
}

hr
{
    height: 1px;
    border: 0;
    color: #999999;
    background-color: #999999;
}

.linktab a
{
    text-decoration: none;
    color: white;
}

div.byline
{
    margin-top: 1em;
    margin-right: 1em;
    text-align: right;
}

span.author
{
}

span.email
{
    font-style: italic;
}

ul
{
}

ol
{
}

p
{
}

div#license p
{
    margin-left: 0em;
}
