body
{
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;

    background-color: white;

    font-family: Arial, Verdana, Helvetica, sans-serif;
    /* min-height: 95%; */
    /* height: 95%; */
    font-size: 14pt;
}

div#content
{
    border: 1px solid #999999;
    padding: 10px;
    margin-top: 30px;

    /* min-height: 100%; */
    /* height: 100%; */
}

code, pre, tt {
    font-family: Mensch, Menlo, Consolas, Monaco, "Source Code Pro", "Courier New", monospace;
    // mimic GitHub
    background-color: rgba(27,31,35,0.05);
}

/* --- START table of contents styling. See toc.js */

div#toc
{
    width: auto;
    font-size: 11pt;
}

span#tocHeading
{
    background-color: #f0f0f0;
    width: auto;
    font-weight: bold;
    font-size: larger;
}

div#tocBlock
{
/*
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid #bbbbbb;
    border-top: 2px solid #bbbbbb;
*/
    border: 1px solid #999999;
    padding: 10px;

    margin-right: -4em;
    margin-left: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    width: 40%;
    float: right;
}

ul.toc
{
}

li.tocH1
{
    margin-left: 0em
}

li.tocH2
{ 
    margin-left: 1em
}

li.tocH3
{ 
    margin-left: 2em
}

li.tocH4
{ 
    margin-left: 3em
}

li.tocH5
{
    margin-left: 4em
}

li.tocH6
{
    margin-left: 5em
}

/* --- END table of contents styles */


span.subtitle
{
    font-size: 100%;
    font-weight: bold;
    font-style: italic, oblique;
}

table.container
{
    background-color: black;
    border: 0;
}

table.container tr td
{
    background-color: white;
}

td.corner
{
    background-color: black;
}

h1
{
    background-color: white;
    /* border: 1px solid black; */
    padding-left: 0.125em;
    padding-left: 0.125em;
}

h2
{
    background-color: #aaaaaa;
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
}

h3
{
    background-color: #dddddd;
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
}

h4
{ 
    border: 1px solid #dddddd;
    padding-left: 1em;
    padding-right: 1em;
}

h5
{ 
    border: 1px solid #dddddd;
    font-style: italic;
    padding-left: 1em;
    padding-right: 1em;
}

h6
{ 
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
    padding-left: 1em;
    padding-right: 1em;
}

a
{
    text-decoration: none;
    /* padding-bottom: 2px; */
    border-bottom: 1px solid #666666;
    box-shadow: 0 -2px 0 #666666 inset;
}

a img {
  border: none;
  text-decoration: none;
}

a.badge {
  border: none;
  text-decoration: none;
}

a:link
{
/*
    color: red;
*/
    color: #666666;
}

a:visited
{
  color: #666666;
  border-bottom: 1px dashed #666666;
  box-shadow: 0 -2px 0 #666666 inset;
}

a:hover
{
/*
    background-color: #eed2ee;
    color: #000000;
*/
  color: red;
  border-bottom: 1px dashed #red;
  box-shadow: 0 -2px 0 #red inset;
}

.fakelink { color: #ff0000; }


pre
{
    font-family: monospace, Courier, Courier New;

    border: 1px dashed #666;
    overflow: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;

    margin-left: 3em;
    padding: 10px;

    background-color: #eee;
    border: 1px dashed #666;

    /* "display: inline-block" forces browser to shrink width to fit. */
    display: inline-block;

    max-width: 90%;
}

.path
{
    font-family: monospace, Courier, Courier New;
}

.filename
{
    font-family: monospace, Courier, Courier New;
}

.warning
{
    font-family: sans-serif, Arial, Helvetica;

    margin-left: 15em;
    margin-right: 15em;

    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
    border-width: 3px;
    border-spacing: 5px;
    border-style: solid;
    border-color: red;
    border-collapse: collapse;

    background-color: #d9d9d9;
}

.box
{
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;

    border-width: 1px;
    border-spacing: 5px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}

div.site
{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding: 10px;
}

div.header
{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

span.title
{
    font-size: 16pt;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

table.banner
{
    border-bottom: 1px solid #999999;
    width: 100%;
}

table.banner td.banner-image
{
    padding-left: 0;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

table.banner td.banner-title
{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24pt;
}

div.linktabs
{
    float: right;
    background-color: white;
}

.linktabs
{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.linktab
{
    background-color: #aaaaaa;
    color: white;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 0;
    margin: 0;
    text-align: center;
    width: auto;
}

.linktab a {
  text-decoration: none;
  border: none;
  box-shadow: none;
}

hr
{
    height: 1px;
    border: 0;
    color: #999999;
    background-color: #999999;
}

.linktab a
{
    text-decoration: none;
    color: white;
}

div.byline
{
    margin-top: 1em;
    margin-right: 1em;
    text-align: right;
}

span.author
{
}

span.email
{
    font-style: italic;
}

ul
{
}

ol
{
}

p
{
}

div#license p
{
    margin-left: 0em;
}

/* 404 */

div.error-container
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;

    border: 1px solid #999999;
    padding: 10px;

}

div.error-container div#logo
{
    width: 82;
    height: 200px;
    float: left;
}

div.error-container .error-title
{
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

div.error-container .error-content
{
    margin-top: 3em;
    font-size: 120%;
    font-weight: normal;
    text-align: center;
}

// Syntax highlighting.

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #8f5902; font-style: italic } /* Comment */
.highlight .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.highlight .g { color: #000000 } /* Generic */
.highlight .k { color: #204a87; font-weight: bold } /* Keyword */
.highlight .l { color: #000000 } /* Literal */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #ce5c00; font-weight: bold } /* Operator */
.highlight .x { color: #000000 } /* Other */
.highlight .p { color: #000000; font-weight: bold } /* Punctuation */
.highlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.highlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.highlight .gd { color: #a40000 } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #ef2929 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #000000; font-style: italic } /* Generic.Output */
.highlight .gp { color: #8f5902 } /* Generic.Prompt */
.highlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.highlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #000000 } /* Literal.Date */
.highlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.highlight .s { color: #4e9a06 } /* Literal.String */
.highlight .na { color: #c4a000 } /* Name.Attribute */
.highlight .nb { color: #204a87 } /* Name.Builtin */
.highlight .nc { color: #000000 } /* Name.Class */
.highlight .no { color: #000000 } /* Name.Constant */
.highlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #ce5c00 } /* Name.Entity */
.highlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #000000 } /* Name.Function */
.highlight .nl { color: #f57900 } /* Name.Label */
.highlight .nn { color: #000000 } /* Name.Namespace */
.highlight .nx { color: #000000 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */
.highlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #000000 } /* Name.Variable */
.highlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.highlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.highlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.highlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
.highlight .sc { color: #4e9a06 } /* Literal.String.Char */
.highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4e9a06 } /* Literal.String.Double */
.highlight .se { color: #4e9a06 } /* Literal.String.Escape */
.highlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.highlight .si { color: #4e9a06 } /* Literal.String.Interpol */
.highlight .sx { color: #4e9a06 } /* Literal.String.Other */
.highlight .sr { color: #4e9a06 } /* Literal.String.Regex */
.highlight .s1 { color: #4e9a06 } /* Literal.String.Single */
.highlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
.highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #000000 } /* Name.Variable.Class */
.highlight .vg { color: #000000 } /* Name.Variable.Global */
.highlight .vi { color: #000000 } /* Name.Variable.Instance */
.highlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
